@import '../styles/variables';

.home-container {
    width: 100%;
    padding: 0px 0;
    background-color: $color5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .banner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color5;
        width: 80%;
        margin: 0px 0;
        padding: 30px;
        border-radius: 10px;

        .banner-text {
            width: 50%;
            padding: 20px;
            gap: 20px;

            h2 {
                font-size: 40px;
                color: #333;
                margin-bottom: 20px;

            }

            p {
                font-size: 16px;
                color: #666;
                text-align: justify;
            }

            .banner-buttons {
                margin-top: 20px;
                display: flex;
                gap: 15px;

                .btn {
                    padding: 7px 30px;
                    font-size: 14px;
                    font-weight: bold;
                    border-radius: 5px;
                    text-decoration: none;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                }

                .btn-solid {
                    background-color: $color4;
                    color: white;
                    border: none;
                    height: fit-content;

                    &:hover {
                        background-color: darken($color4, 10%);
                    }
                }

                .btn-outline {
                    background-color: transparent;
                    color: $color4;
                    border: 2px solid $color4;
                    height: fit-content;



                    &:hover {
                        background-color: $color4;
                        color: white;
                    }
                }
            }
        }

        .banner-image {
            width: 50%;
            display: flex;
            justify-content: center;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
                padding: 20px;
            }
        }
    }

    .div-text {
        text-align: center;
        position: relative;
        padding-bottom: 10px;

        .text {
            font-size: 26px;
            font-weight: bold;
            color: #333;
            display: inline-block;
            position: relative;
        }

        .underline {
            width: 150px;
            height: 4px;
            background-color: $color4;
            margin: 5px auto 0;
            border-radius: 2px;
        }
    }
}