@import '../styles/variables';
// @import '../styles/base';

//Add Custoner Modal
.modal-staff-container {
    .modal-header {
        background-color: #007bff;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
    }

    .modal-body {
        padding: 20px;
        width: 100%;

        .modal-order-body {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;


            .form-section {
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-bottom: 20px;

                .input-container {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    width: 100%;
                    text-align: justify;

                    label {
                        font-weight: bold;
                        color: #333;
                        font-size: 16px;
                        margin-bottom: 5px;
                    }

                    p {
                        font-size: 14px;
                        color: #555;
                        margin: 0;
                    }
                }
            }

            /* Thanh ngang (hr) */
            .order-items-divider {
                border: 0;
                border-top: 2px;
                border-color: $color1;
                /* Màu sắc cho thanh ngang */
                margin: 10px 0;
            }

            .order-details-container {
                .order-details-section {
                    margin-top: 10px;
                    text-align: justify;

                    h5 {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 10px;
                        color: #333;
                    }

                    .order-detail {
                        margin-bottom: 15px;

                        p {
                            font-size: 14px;
                            margin: 5px 0;
                        }

                        strong {
                            color: $color4;
                        }

                        hr {
                            margin: 15px 0;
                            border: 1px solid #ddd;
                        }
                    }
                }
            }
        }
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        padding: 15px;

        .Btn-cancel {
            background-color: #f44336;
            color: white;
            border: none;
            padding: 8px 15px;
            font-size: 16px;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #e53935;
            }
        }
    }
}