@import '../styles/variables';

.profile-container {
    display: flex;
    margin: 20px;
    gap: 20px;
    justify-content: space-between;

    .profile-left {
        display: flex;
        flex-direction: column;
        background-color: $color5;
        width: 19%;
        padding: 10px 20px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        height: fit-content;

        ul {
            list-style-type: none;
            padding: 10px 0px;
            margin: 0;
        }

        li {
            margin: 10px 0px;
            padding: 0;


            a {
                display: block;
                padding: 10px;
                background-color: $color5;
                font-size: large;
                color: $color1;
                text-decoration: none;
                border: 2px solid transparent;
                border-radius: 4px;
                transition: all 0.3s ease;

                &:hover {
                    background-color: $color44;
                    border: 2px;
                    border-color: $color4;
                    color: $color5;
                }
            }
        }
    }

    .profile-right {
        flex: 1;
        background-color: #fff;
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 30px;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 20px;

            button {
                padding: 12px 20px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
                border: none;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: background-color 0.3s ease, color 0.3s ease;

                i {
                    font-size: 18px;
                }

                &.change-password-btn {
                    background-color: #28a745;
                    color: white;

                    &:hover {
                        background-color: #218838;
                    }
                }

                &.logout-btn {
                    background-color: #dc3545;
                    color: white;

                    &:hover {
                        background-color: #c82333;
                    }
                }
            }
        }
    }
}