@import "../styles/common.scss";

.navigator-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu-group {
        display: flex;
        align-items: center;
        gap: 20px;

        .menu {
            margin-right: 20px;


            .menu-link {
                text-decoration: none;
                color: #000;
                font-size: 16px;
                font-weight: 500;

                .menu-link:hover {
                    color: $color44;
                    /* Màu khi hover */
                }

            }
        }



    }



}