@import "../../styles/common.scss";
// @import '../styles/base';


.header {
    background-color: $color5;
    flex-shrink: 0;
    width: 100%;


    .header-container {
        display: flex;
        justify-content: space-between; // Đảm bảo các phần tử có không gian đều
        background-color: $color5;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;


        .logo {
            flex-grow: 1;
        }

        .website-name {
            flex-grow: 2;
            margin-left: 10px;
            font-size: 24px;
        }

        .header-tabs-container {
            flex-grow: 3;
        }

        .btn-logout {
            display: flex;
            align-items: center; // Căn giữa cho nút logout
            color: $color7;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;
            cursor: pointer;


            &:hover {
                background-color: darken($color11, 5);
            }

            i {
                font-size: $base-size + 1px;
            }
        }
    }
}