@import '../styles/variables';
@import '../styles/base';


.page-container {
    background-color: $color5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}



/* Header */
.header {
    background-color: $color5;
    flex-shrink: 0;
    width: 100%;


    .header-container {
        display: flex;
        justify-content: flex-start;
        background-color: $color5;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;

        .logo {
            max-width: 60px;
        }

        .website-name {
            font-size: 16px;
            color: $color4;
            font-family: $fontmain;
        }
    }

}


/* Body */
.body {
    display: flex;
    flex-direction: column;
    background-color: $color4;

    .body-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 100px;
        margin-right: 100px;
        justify-content: space-evenly;



        /* Image container */
        .image-container {
            display: flex;
            justify-content: center;
            align-items: center;

            .login-image {
                flex: 1;
                width: 100%;
                height: auto;
            }
        }

        .login-form-container {
            padding: 20px;
            background-color: $color5;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


            .text-36 {
                font-size: 36px;
                text-decoration: none;
                font-weight: bold;
                font-family: 'Segoe UI';
                margin: 0;
                width: 470px;
                text-align: center;
                color: $color4;

            }

            .login-form {
                display: flex;
                flex-direction: column;
                background-color: $color5;

                .input-field {
                    margin: 10px 0;
                    padding: 10px;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    font-size: $base-size;
                    outline: none;
                    font-family: $fontmain;
                    width: 470px;
                }

                .input-field:focus {
                    border-color: #532E1C;

                }

                .password-container {
                    position: relative;

                    .input-field-password {
                        margin: 10px 0;
                        padding: 10px;
                        border-radius: 5px;
                        border: 1px solid #ddd;
                        font-size: $base-size;
                        outline: none;
                        font-family: $fontmain;
                        width: 470px;
                    }

                    .fa-eye {
                        position: absolute;
                        box-sizing: border-box;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }

                    .fa-eye-slash {
                        position: absolute;
                        box-sizing: border-box;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        cursor: pointer;
                    }
                }

                .forgotpassword {
                    font-family: $fontmain;
                    font-size: 16px;
                    padding: 10px;
                    color: $color4;
                    width: 100%;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    text-decoration: none;
                    text-align: center;
                }

                .login-btn {
                    padding: 10px;
                    font-size: 16px;
                    background-color: $color4;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 470px;
                }

                .text-16 {
                    font-size: $base-size;
                    text-align: center;
                    font-family: $fontmain;
                    width: 470px;
                    margin-top: 10px;
                    margin-bottom: 10px;

                }

                .google-btn {
                    padding: 10px;
                    font-size: 16px;
                    background-color: $color5;
                    color: $color1;
                    border-color: $color4;
                    border-radius: 5px;
                    cursor: pointer;
                    width: 470px;

                    .fa-google:before {
                        content: "\f1a0";
                        color: $color1;
                        font-size: 20px;
                    }

                    .text {
                        margin-left: 10px;
                        font-family: $fontmain;
                        font-size: $base-size;
                    }
                }

                .google-btn:hover {
                    background-color: $color55;
                }



                .login-btn:hover {
                    background-color: $color44;
                }

                .signup-container {
                    padding: 20px;
                    text-align: center;
                    width: 100%;
                    color: $color4;

                    .signup-btn {
                        font-size: 16px;
                        font-family: $fontmain;
                        font-weight: bold;
                        border: none;
                        background-color: $color5;
                        color: $color4;

                    }

                    .signup-btn:hover {
                        text-decoration: $color44;
                    }

                }


            }
        }

    }

    .space-50px {
        width: 100%;
        height: 50px;
        background-color: $color5;
        display: flex;
    }

}




/* Footer */
.footer {
    width: 100%;
    background-color: $color4;
    flex-shrink: 0;
    /* Ngăn footer bị thu nhỏ */
    margin-top: auto;
    /* Đảm bảo footer luôn ở dưới cùng */
    display: flex;


    .footer-container {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
        display: inline-block;

        .footer-r1 {
            display: flex;
            flex-direction: row;

            .r1 {
                flex: 1;
                display: flex;

                align-items: center;

                .logo {
                    max-width: 60px;
                }

                .website-name {
                    font-size: 16px;
                    color: $color5;
                }

            }

            .r2 {
                display: flex;
                flex: 1;
                justify-content: flex-end;
                align-items: center;

                .left-footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    color: $color5;
                    font-family: $fontmain;
                    font-size: 16px;
                    font-weight: bold;
                    gap: 20px;
                }

            }

        }

        .footer-r2 {
            flex: 1;
            display: flex;
            flex-direction: column;
            text-align: right;

            .website-description {
                font-size: 14px;
                color: $color5;
                max-width: 400px;
                text-align: justify;
            }


        }

        .footer-r3 {
            color: $color5;
        }

        .footer-r4 {
            font-family: $fontmain;
            color: $color5;
            width: 100%;
            text-align: flex-end;


            .footer-text {
                justify-content: flex-end;
            }
        }


    }

}