@import '../styles/variables';
@import '../styles/base';

.page-container {
    background-color: $color2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    .body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $color2;
        flex-grow: 0;
        width: 100%;
        margin: 30px;
        height: auto;
        box-sizing: border-box;

        .left-side {
            order: 1;
            width: 20%;
            background-color: $color5;
            border-radius: 5px;
            box-shadow: 2px 2px 5px $color55;
            padding: 20px;
            box-sizing: border-box;
            height: auto;
            margin-left: 100px;
            margin-right: 10px;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

            a {
                text-decoration: none;
                color: inherit;
            }

            .option {
                width: 100%;
                background-color: $color5;
                font-size: 16px;
                color: $color1;
                padding: 5px;
                border-radius: 2px;

                :hover {
                    background-color: $color44;
                    color: $color5;
                    cursor: pointer;
                }

                :active {
                    background-color: $color44;
                    color: $color5;
                }

            }


        }

        .right-side {
            order: 2;
            width: 80%;
            background-color: $color5;
            border-radius: 5px;
            box-shadow: 2px 2px 5px $color55;
            padding: 20px;
            box-sizing: border-box;
            height: auto;
            margin-right: 100px;

            .information-table {
                width: 100%;
                justify-content: space-between;
                text-align: center;


            }

            .information-table thead th {
                border-bottom: 1px solid #C2C2C2;
                padding-bottom: 10px;
                justify-content: center;

            }

            .information-table tbody td {
                margin-top: 30px;
                /* Tăng khoảng cách trên các dòng trong tbody */
            }

            .btn-edit {
                color: $color1;
                background: transparent;
                border: none;
                margin: 5px;
                justify-content: center;
                justify-items: center;

                :hover {
                    color: $color55;
                }
            }

            .btn-delete {
                color: $color7;
                background: transparent;
                border: none;
                font-weight: bold;
                margin: 5px;


                :hover {
                    color: #BB3030;

                }
            }



        }

    }
}